/*Global Styles*/

body {
    font-family: "Lato", sans-serif;
}
a {
    color: #DE3C31;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
a:hover {
    text-decoration: underline;
}

/*Responsive Layout*/

.container {
    margin: 60px 50px;
    overflow: hidden;
}
.col {
    display: block;
    float: left;
    margin: 1% 0 1% 1.6%;
    box-sizing: border-box;
}
.col:first-child {
    margin-left: 0;
}
.span-12 {
    width: 100%;
}
.span-11 {
    width: 91.53%;
}
.span-10 {
    width: 83.06%;
}
.span-9 {
    width: 74.6%;
}
.span-8 {
    width: 66.13%;
}

.span-7 {
    width: 57.66%;
}
.span-6 {
    width: 49.2%;
}
.span-5 {
    width: 40.73%;
}
.span-4 {
    width: 32.26%;
}
.span-3 {
    width: 23.8%;
}
.span-2 {
    width: 15.33%;
}
.span-1 {
    width: 6.866%;
}

/*Header*/

.header {
    display: block;
    margin: 0px 0px 10px 0px;
}
.intro {
    font-weight: 300;
    color: #DE3C31;
    font-size: 46px;
    padding-right: 30px;
}
.subhead {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    color: #959595;
    font-size: 22px;
}

/*Navigation Style*/

.nav-main {
    margin: 1em 0;
    min-width: 900px;
    position: relative;
}

.nav-main ul {
    font-family: "lato", sans-serif;
    font-weight: 200;
    background-color: #1B1B1B;
    width: 100%;
    padding: 0;
    text-align: justify;
    overflow: hidden;
    content: '';
    display: inline-block;
    width: 100%;

}

.nav-main li {
    border-right: #fff 1px solid;
    list-style: none;
    display: inline-block;
}

.nav-main  a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 1em 1em;
    margin: 0px 25px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.nav-main  a:hover, .nav a:focus {
    color: #D4D5D6;
}

.nav-mobile {
    cursor: pointer;
    position: absolute;
    float: left;
    right: 60px;
    top: 80px;
}

.bar1, .bar2, .bar3 {
    width: 25px;
    height: 2px;
    background-color: #929394;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-3px, 3px) ;
    transform: rotate(-45deg) translate(-3px, 3px) ;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

/*Article Layout*/

.section {
    margin-top: 15px;
}
.blog {
    background-color: #fff;
    margin-top: 0px;
}
.entry {
    padding-right: 40px;
}
.entry .firstcharacter {
    float: left;
    color: #929394;
    font-size: 64px;
    font-weight: 200;
    line-height: 60px;
    padding: 4px 8px 0px 3px;
}
.lower-post {
    position: relative;
    height: 50px;
    overflow: hidden;
    max-width: 640px;
}
a[class="cta"] {
    position: absolute;
    bottom: 0px;
    right: 0px;
    font-weight: #600;
    padding: 0px 10px 25px 0px;
}
.hr {
    border-bottom: #BCBCBC 1px solid;
    width: 95%;
    margin-top: 20px;
    margin-bottom: 20px;
    clear: both;
}
.post h1 {
    color: #191A1B;
    font-size: 32px;
    font-weight: 200;
}
.post h2 {
    color: #D4D5D6;
    font-size: 28px;
    font-weight: 200;
    margin-top: 0px;
}
.entry p {
    color: #777777;
    font-size: 14px;
    line-height: 24px;
}
.blog .img-responsive {
    max-width: 95%;
    height: auto;
    display: block;
}

/*Sidebar Layout*/

.aside {
    background-color: none;
}
.aside h1 {
    font-size: 16px;
    color: #777777;
    margin-top: 0px;
}
.aside p {
    color: #777777;
}
.aside li {
    padding-top: 7px;
}

/*Footer Style*/

.footer ul {
    padding: 0px;
}
.footer li {
    list-style: none;
    display: inline;
    padding: 0px 10px 0 10px;
    border-right: #929394 1px solid;
}
.footer li:last-child {
    border: none;
}
.footer a {
    font-size: 14px;
}
.footer small {
    color: #929394;
}

@media (max-width: 900px) {
  .span-8 {
    min-width: 100%;
  }
  .span-4 {
    min-width: 100%;
  }
  .nav-main {
      display: none;
      position: relative;
  }
  .subhead {
      display: block;
      padding-bottom: 25px;
      margin-bottom: 10px;
      border-bottom: 1px #929394 solid;
  }
}

@media (min-width: 900px) {
  .nav-mobile {
    display: none;
  }
}
